{% extends 'base.html.twig' %}
{% import "_macros.twig" as macros %}

{% block body %}

<table>
    <thead>
        <th>Nom interne</th>
        <th>Titre</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.label }}</td>
            <td>O X</td>
        </tr>{% extends 'base.html.twig' %}
{% import "_macros.twig" as macros %}

{% block body %}

{{ user.firstName }}
{{ user.lastName }}
{{ user.email }}

{% if user.roles|length == 1 %}
{{ user.roles[0] }}
{% else %}
{{ user.roles|join(', ') }}
{% endif %}

Dernières connexions:
<table></table>
    <thead>
        <th>Message</th>
        <th>Heure</th>
    </thead>
    <tbody>
        {% for login in logins %}
        <tr>
            <td>{{ login.message }}</td>
            <td>{{ login.created_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}
        {% endfor %}
    </tbody>
</table>

{% endblock body %}