{% extends 'base.html.twig' %}
{% import "_macros.twig" as macros %}

{% block body %}

<div class="flex flex-col justify-start items-center h-full w-full">
    <div class="mt-[2rem] mb-[2rem]">
        {{ macros.clickableBtn("products", "add", "fa-solid fa-plus", "Recenser un nouvel article") }}
    </div>
    <div id="products">
        <input class="search mb-[1rem]" placeholder="Chercher" />
        <button
            class="sort cursor-pointer transition border-(--lumia-purple) border-1 bg-(--lumia-purple) px-2 py-1 rounded text-white hover:bg-white hover:border-(--lumia-gold) hover:text-(--lumia-gold)"
            data-sort="product-amount">
            Trier par quantité
        </button>

        <table class="min-w-full">
            <thead class="bg-gray-600 text-white">
                <th>Nom</th>
                <th>Code-barre</th>
                <th>Quantité actuelle</th>
                <th>Actions</th>
            </thead>
            <tbody class="list">
                {% if products is empty %}
                <td colspan="4" class="text-center">Aucun produit !</td>
                {% endif %}

                {% for product in products %}
                <tr>
                    <td class="product-name border-solid border-1 border-gray-400">{{ product.name }}</td>
                    <td class="product-barcode border-solid border-1 border-gray-400">{{ product.barcode }}</td>
                    <td class="product-amount border-solid border-1 border-gray-400">{{ product.amount }}</td>
                    <td class="inline-flex gap-1">{{ macros.clickableBtn("products", product.id) }}
                        {{ macros.deleteBtn("products/delete", product.id, "fa-solid fa-trash") }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock body %}

{% block js %}
{{ encore_entry_script_tags('products_products_js') }}
{% endblock %}