{% extends 'base.html.twig' %}
{% import "_macros.twig" as macros %}

{% block body %}

<table>
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.roles|length == 1 %}
                {{ user.roles[0] }}
                {% else %}
                {{ user.roles|join(', ') }}
                {% endif %}
            </td>
            <td>{{ macros.clickableBtn("users", user.id) }}{{ macros.deleteBtn("users/delete", user.id) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}